@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<section class="gallery2 cid-scHUKJDQM6" id="gallery2-k">


    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>WELCOME TO OASIS WATER</strong></h4>

        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/oasis-water-george-2-400x300.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">Login to start your task!</h5>


                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-7" target="_blank">Login</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/oasis-water-george-4-640x480.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">Login to read your notifications</h5>


                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-7" target="_blank">Login</a></div>
                </div>
            </div>


        </div>
    </div>
</section>
